*{
	margin:0;
	padding:0;
}
body{
  font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}
.app{
  width:100%;
  .app_wrp{
      width: 100%;
      max-width: 1280px;
      overflow: hidden;
  }
}
:root{
  --background-color:#5138ED;
  --button-color:#5138ED;
  --light-color:#fff;
}