.page{
    width:100%;
    height:100vh;
    background-color: var(--background-color);
    display: grid;
    grid-template-rows: 3rem 1fr;
    .header{
        background-color: var(--header-color);
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        align-items: center;
        font-weight: 700;
        color:var(--light-color);
        .code{
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                padding:.5rem;
                border:.1rem solid var(--light-color);
                border-radius: .5rem;
                margin:.2rem;
            }
        }
    }
}
.editor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.editor_container{
    width: 90%;
    height:90%;
    background-color: var(--light-color);
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    border-radius: .5rem;
    overflow: hidden;
    .text-area{
       border-right: .1rem solid var(--header-color);
       display: grid;
       grid-template-rows: 3rem 1fr;
       .toolbar{
           width:100%;
           background-color: var(--header-color);
       }
       .text{
           width: 100%;
           height: 100%;
           textarea{
               width: 100%;
               height:100%;
               resize: none;
               outline: none;
                border:none ;
           }
       }
    }
}