.user-cursor{
    position:absolute;
    height:48px;
    font-size: .8rem;
    z-index: 9999;
    overflow: hidden;
    .name{
        background-color: var(--button-color); 
        padding:.5rem;
        color:var(--light-color);
        border-radius: .5rem;
    }
    .cursor{
        width:100%;
        color:var(--button-color);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        .bar{
            width:2px;
            height:24px;
            background-color:var(--button-color);
        }
    }
}